<?php
// @codingStandardsIgnoreFile

/**
 * Grouped product data template
 *
 * @var $block \Magento\Catalog\Block\Product\View\BaseImage
 * @var $block \Magento\GroupedProduct\Block\Product\View\Type\Grouped
 * @var $block \Bss\SimpleDetailGroupedProduct\Block\SimpleDetail
 */
?>
<?php $block->setPreconfiguredValue(); ?>
<?php $_product = $block->getProduct(); ?>
<?php $_associatedProducts = $block->getAssociatedProducts(); ?>
<?php $_hasAssociatedProducts = count($_associatedProducts) > 0; ?>
<?php $showSkuAttribute = $block->showSkuConfig(); ?>
<?php $showThumbnailAttribute = $block->showThumbnailConfig(); ?>
<?php $showStockAttribute = $block->showStockConfig(); ?>
<?php $showShortDescription = $block->showShortDescriptionConfig(); ?>
<?php $showAttribute = $block->showAttributeConfig(); ?>
<?php $showStyles = $block->showStyleConfig(); ?>
<?php $showTierPrice = $block->showTierPriceConfig(); ?>
<?php $showProductUrl = $block->showProductUrlConfig(); ?>
<?php $allAttributes = explode(",",$showAttribute);?>
<?php $showAtrributeWithValueOnly = $block->showAttributeWithValueOnly()?>
<?php $enableFixWidth = $block->enableFixWidth()?>

<!-- Get display position -->
<?php $isNewColumn = $block->getNewColumnConfig(); ?>
<?php $isNameColumn = $block->getNameColumnConfig(); ?>
<?php $isTooltip = $block->getTooltipConfig(); ?>
<?php
$imageId = 'product_base_image';
$width = 1000;
$height = 1000;
?>
<div class="table-wrapper grouped simple-detail">
    <table class="table data grouped" id="super-product-table">
        <caption class="table-caption"><?php  /* @escapeNotVerified */ echo __('Grouped product items') ?></caption>
        <thead>
        <tr>
            <?php if ($showThumbnailAttribute == $isNewColumn): ?>
                <th class="col thumbnail" scope="col"><?php /* @escapeNotVerified */ echo __('Thumbnail') ?></th>
            <?php endif; ?>
            <th class="col item" scope="col"><?php /* @escapeNotVerified */ echo __('Product Name') ?></th>
            <?php if ($showSkuAttribute == $isNewColumn): ?>
                <th class="col sku" scope="col"><?php /* @escapeNotVerified */ echo __('SKU') ?></th>
            <?php endif; ?>
            <?php if ($showStockAttribute == $isNewColumn): ?>
                <th class="col stock" scope="col"><?php /* @escapeNotVerified */ echo __('Stock Number') ?></th>
            <?php endif; ?>
            <?php if ($showShortDescription == $isNewColumn): ?>
                <th class="col short-description" scope="col"><?php /* @escapeNotVerified */ echo __('Short Description') ?></th>
            <?php endif; ?>
            <?php if ($showStyles == $isNewColumn): ?>
                <th class="col style" scope="col"><?php /* @escapeNotVerified */ echo __('Attributes') ?></th>
            <?php endif; ?>
            <?php if ($showTierPrice == $isNewColumn): ?>
                <th class="col tier-price" scope="col"><?php /* @escapeNotVerified */ echo __('Tier Price') ?></th>
            <?php endif; ?>
        </tr>
        </thead>

        <?php if ($_hasAssociatedProducts): ?>
            <?php foreach ($_associatedProducts as $_item): ?>
                <?php $shortDescription = ($_item->getShortDescription()=='') ? '...' : $_item->getShortDescription()?>
                <?php $_productStock = $block->getStockItem($_item->getEntityId()); ?>
                <?php
                    $isSalableProduct = true;
                    if ($block->getMagentoVersion() >= '2.3.0') {
                        $stockId = $block->getStockId();
                        if ($block->isSalableProduct($_item->getSku(), $stockId)) {
                            $stock_status = $block->getSalableQuantityDataBySku($_item->getSku(), $stockId);
                        } else {
                            $isSalableProduct = false;
                            $stock_status = __('Out of stock');
                        }
                    } else {
                        if ($_productStock && $_productStock->getIsInStock()==1) {
                            $stock_status = $_productStock->getQty();
                        } else {
                            $isSalableProduct = false;
                            $stock_status = __('Out of stock');
                        }
                    }
                ?>
                <?php $resizedImageUrl = $block->resizeImage($_item, 'product_base_image', $width, $height)->getUrl(); ?>
                <tbody>
                <tr>

                    <?php if ($showThumbnailAttribute == $isNewColumn): ?>
                        <td data-th="<?php /* @escapeNotVerified */ echo __('Thumbnail'); ?>" class="col item simple-col">
                            <img src="<?php echo $block->escapeUrl($resizedImageUrl);?>" alt="<?php echo $_item->getTitle();?>" class="view-image-modal" />
                        </td>
                    <?php endif; ?>

                    <!-- Product name column -->
                    <td data-th="<?php /* @escapeNotVerified */  echo __('Product Name'); ?>" class="col item tooltip simple-col">
                        <?php if ($showThumbnailAttribute == $isNameColumn): ?>
                            <img src="<?php echo $block->escapeUrl($resizedImageUrl);?>" alt="<?php echo $_item->getTitle();?>" />
                            <br>
                        <?php endif; ?>
                        <?php if($_item->getVisibility() != 1 && $showProductUrl ==1): ?>
                            <a href="<?php echo $block->escapeUrl($_item->getProductUrl()); ?>"><strong class="product-item-name"><?php echo $block->escapeHtml($_item->getName()) ?></strong></a>
                        <?php else: ?>
                            <strong class="product-item-name"><?php echo $block->escapeHtml($_item->getName()) ?></strong>
                        <?php endif; ?>
                        <!-- Tooltip content -->
                        <?php if ($showSkuAttribute == $isTooltip || $showThumbnailAttribute==$isTooltip || $showStockAttribute==$isTooltip || $showShortDescription==$isTooltip || $showStyles==$isTooltip || $showTierPrice==$isTooltip): ?>
                            <span class="my-tooltip help">

                                <i class="tooltip-toggle fas fa-exclamation-circle"></i>
                                <div class="tooltip-content">
                                    <?php if ($showThumbnailAttribute == $isTooltip): ?>
                                        <img src="<?php echo $block->escapeUrl($resizedImageUrl);?>" alt="<?php echo $_item->getTitle();?>" />
                                    <?php endif; ?>

                                    <?php if ($showStockAttribute == $isTooltip): ?>
                                        <p><span class="attribute-label"><?php /* @escapeNotVerified */ echo __('Stock Number') ?>: </span> <?php echo $stock_status; ?></p>
                                    <?php endif; ?>

                                    <?php if ($showSkuAttribute == $isTooltip): ?>
                                        <p id="simple-sku"><span class="attribute-label"><?php /* @escapeNotVerified */ echo __('SKU') ?>: </span> <?php echo $block->escapeHtml($_item->getSku()); ?></p>
                                    <?php endif; ?>

                                    <?php if ($showShortDescription == $isTooltip): ?>
                                        <p><span class="attribute-label"><?php /* @escapeNotVerified */ echo __('Short Description') ?>: </span> <?php echo $shortDescription; ?></p>
                                    <?php endif; ?>

                                    <?php if ($showStyles == $isTooltip): ?>
                                        <ul>
                                        <?php
                                        foreach ($allAttributes as $value)
                                        {
                                            if ($_item->getResource()->getAttribute($value) != false) {
                                                if ($value == 'tier_price') {
                                                    $itemValue = $block
                                                        ->getProductPriceHtml($_item,
                                                            \Magento\Catalog\Pricing\Price\TierPrice::PRICE_CODE);
                                                } else {
                                                    $itemValue = $block->getAttributeValue($value, $_item);
                                                }
                                                if ($showAtrributeWithValueOnly) {
                                                    if ($itemValue != 'No' && !empty($itemValue) && $itemValue != ' ' && $itemValue != null ) {
                                                        $frontendLabel = $block->getFrontEndLabel($value, $_item);;
                                                        $frontendValue = $itemValue;
                                                        echo '<li>'.'<b>'.$frontendLabel.'</b>'.': '.$frontendValue.'</li>';
                                                    }
                                                } else {
                                                    $frontendLabel = $block->getFrontEndLabel($value, $_item);
                                                    $frontendValue = $itemValue;
                                                    echo '<li>'.'<b>'.$frontendLabel.'</b>'.': '.$frontendValue.'</li>';
                                                }
                                            }
                                        }
                                        ?>
                                    </ul>
                                    <?php endif; ?>

                                    <?php if ($showTierPrice == $isTooltip): ?>
                                        <?php if ($block->getCanShowProductPrice($_product)
                                            && $block->getCanShowProductPrice($_item)
                                            && trim($block->getProductPriceHtml(
                                                $_item,
                                                \Magento\Catalog\Pricing\Price\TierPrice::PRICE_CODE
                                            ))): ?>

                                            <?= $block->getProductPriceHtml(
                                                $_item,
                                                \Magento\Catalog\Pricing\Price\TierPrice::PRICE_CODE
                                            ) ?>

                                        <?php endif; ?>
                                    <?php endif; ?>
                                </div>
                        </span>
                        <?php endif; ?>
                        <!-- End tooltip content -->
                        <br>

                        <?php if ($block->getCanShowProductPrice($_product)): ?>
                            <?php if ($block->getCanShowProductPrice($_item)): ?>
                                <?php /* @escapeNotVerified */ echo $block->getProductPrice($_item) ?>
                            <?php endif; ?>
                        <?php endif; ?>
                        <?php if ($showStockAttribute == $isNameColumn): ?>
                            <p><span class="attribute-label"><?php /* @escapeNotVerified */ echo __('Stock Number') ?>: </span> <?php echo $stock_status; ?></p>
                        <?php endif; ?>
                        <?php if ($showSkuAttribute == $isNameColumn): ?>
                            <p id="simple-sku"><span class="attribute-label"><?php /* @escapeNotVerified */ echo __('SKU') ?>: </span> <?php echo $block->escapeHtml($_item->getSku()); ?></p>
                        <?php endif; ?>
                        <?php if ($showShortDescription == $isNameColumn): ?>
                            <p><span class="attribute-label"><?php /* @escapeNotVerified */ echo __('Short Description') ?>: </span> <?php echo  $shortDescription; ?></p>
                        <?php endif; ?>
                        <?php if ($showStyles == $isNameColumn): ?>
                            <p class="attribute-label"><?php /* @escapeNotVerified */ echo __('Attributes') ?>: </p>
                            <ul>
                                <?php
                                foreach ($allAttributes as $value)
                                {
                                    if ($_item->getResource()->getAttribute($value) != false) {
                                        if ($value == 'tier_price') {
                                            $itemValue = $block
                                                ->getProductPriceHtml($_item,
                                                    \Magento\Catalog\Pricing\Price\TierPrice::PRICE_CODE);
                                        } else {
                                            $itemValue = $block->getAttributeValue($value, $_item);
                                        }
                                        if ($showAtrributeWithValueOnly) {
                                            if ($itemValue != 'No' && !empty($itemValue) && $itemValue != ' ' && $itemValue != null ) {
                                                $frontendLabel = $block->getFrontEndLabel($value, $_item);;
                                                $frontendValue = $itemValue;
                                                echo '<li>'.'<b>'.$frontendLabel.'</b>'.': '.$frontendValue.'</li>';
                                            }
                                        } else {
                                            $frontendLabel = $block->getFrontEndLabel($value, $_item);
                                            $frontendValue = $itemValue;
                                            echo '<li>'.'<b>'.$frontendLabel.'</b>'.': '.$frontendValue.'</li>';
                                        }
                                    }
                                }
                                ?>
                            </ul>
                        <?php endif; ?>
                    </td>

                    <!-- New column -->
                    <?php if ($showSkuAttribute == $isNewColumn): ?>
                        <td data-th="<?php /* @escapeNotVerified */ echo __('SKU') ?>" class="col item simple-col">
                            <strong><?php echo $block->escapeHtml($_item->getSku()); ?></strong>
                        </td>
                    <?php endif; ?>
                    <?php if ($showStockAttribute == $isNewColumn): ?>
                        <td data-th="<?php /* @escapeNotVerified */ echo __('Stock Number') ?>" class="col item simple-col">
                            <strong><?php echo $stock_status; ?></strong>
                        </td>
                    <?php endif; ?>
                    <?php if ($showShortDescription == $isNewColumn): ?>
                        <td data-th="<?php /* @escapeNotVerified */ echo __('Short Description') ?>" class="col item simple-col">
                            <p><?php echo $shortDescription; ?></p>
                        </td>
                    <?php endif; ?>
                    <?php if ($showStyles == $isNewColumn): ?>
                        <td data-th="<?php /* @escapeNotVerified */ echo __('Attribute') ?>" class="col item simple-col">
                            <?php
                            foreach ($allAttributes as $value)
                            {
                                if ($_item->getResource()->getAttribute($value) != false) {
                                    if ($value == 'tier_price') {
                                        $itemValue = $block
                                            ->getProductPriceHtml($_item,
                                                \Magento\Catalog\Pricing\Price\TierPrice::PRICE_CODE);
                                    } else {
                                        $itemValue = $block->getAttributeValue($value, $_item);
                                    }
                                    if ($showAtrributeWithValueOnly) {
                                        if ($itemValue != 'No' && !empty($itemValue) && $itemValue != ' ' && $itemValue != null ) {
                                            $frontendLabel = $block->getFrontEndLabel($value, $_item);;
                                            $frontendValue = $itemValue;
                                            echo '<li>'.'<b>'.$frontendLabel.'</b>'.': '.$frontendValue.'</li>';
                                        }
                                    } else {
                                        $frontendLabel = $block->getFrontEndLabel($value, $_item);
                                        $frontendValue = $itemValue;
                                        echo '<li>'.'<b>'.$frontendLabel.'</b>'.': '.$frontendValue.'</li>';
                                    }
                                }
                            }
                            ?>
                        </td>
                    <?php endif; ?>
                    <?php if($showTierPrice==$isNewColumn): ?>
                        <td data-th="<?php /* @escapeNotVerified */ echo __('Tier Price') ?>" class="col item simple-col">
                            <?php if ($block->getCanShowProductPrice($_product)
                                && $block->getCanShowProductPrice($_item)
                                && trim($block->getProductPriceHtml(
                                    $_item,
                                    \Magento\Catalog\Pricing\Price\TierPrice::PRICE_CODE
                                ))): ?>

                                <?= $block->getProductPriceHtml(
                                    $_item,
                                    \Magento\Catalog\Pricing\Price\TierPrice::PRICE_CODE
                                ) ?>

                            <?php endif; ?>
                        </td>
                    <?php endif; ?>
                </tr>
                <?php if ($block->getCanShowProductPrice($_product)
                    && $block->getCanShowProductPrice($_item)
                    && trim($block->getProductPriceHtml(
                        $_item,
                        \Magento\Catalog\Pricing\Price\TierPrice::PRICE_CODE
                    )) && $showTierPrice==$isNameColumn): ?>
                    <tr class="row-tier-price">
                        <td colspan="2">
                            <?= $block->getProductPriceHtml(
                                $_item,
                                \Magento\Catalog\Pricing\Price\TierPrice::PRICE_CODE
                            ) ?>
                        </td>
                    </tr>
                <?php endif; ?>
                </tbody>
            <?php endforeach; ?>
        <?php else: ?>
            <tbody>
            <tr>
                <td class="unavailable"
                    colspan="<?php if ($_product->isSaleable()): ?>4<?php else : ?>3<?php endif; ?>">
                    <?php /* @escapeNotVerified */ echo __('No options of this product are available.') ?>
                </td>
            </tr>
            </tbody>
        <?php endif; ?>
    </table>
</div>
<script type="text/x-magento-init">
                {
                "#super-product-table": {
                    "Bss_SimpleDetailGroupedProduct/js/view-image": {}
                    }
                }
            </script>
<div id="validation-message-box"></div>
<script type="text/x-magento-init">
    {
    "*":
        {
            "Bss_SimpleDetailGroupedProduct/js/fontawesome-all": {}
        }
    }
</script>
<?php if ($enableFixWidth): ?>
    <script type="text/x-magento-init">
    {
    "*":
        {
            "Bss_SimpleDetailGroupedProduct/js/detail": {}

        }
    }
</script>
<?php endif; ?>
